section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem;
}
.email-list {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  grid-gap: 5rem;
}

.email-list__item {
  border-radius: 0.5rem;
  text-align: center;
}

.email-list__item-link {
  border: 1px solid #efefef;
  align-items: center;
  background: #fff;
  color: black;
  display: flex;
  margin-bottom: 1rem;
  height: 200px;
  font-size: 5rem;
  justify-content: center;
}
