<html>
  <head>
    <title>Attachments</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <section>
      <h2>Everything</h2>
      <small>(The last 3 months)</small>
      {{ range .GroupedByDate }}
      <h3>{{ .Date }}</h3>
      <div class="email-list">
        {{ range .Emails }}
        <div class="email-list__item">
          <a
            class="email-list__item-link"
            href="/{{ .ThreadId }}/{{ .Filename }}"
          >
            <span class="fiv-sqo fiv-icon-{{ .ContentType | filetype }}"></span>
            &nbsp;
          </a>
          <small>{{ .From | contact }}</small><br/>
          <span>{{ truncate .Subject 50 }}</span><br /><br />
          <small>{{ .Filename }} {{ .Size | bytesize }}</small>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </section>
    <footer />
  </body>
</html>
