<html>
  <head>
    <title>Attachments</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>

    <section>
    {{template "static/template/filter" . }}
    <h2>Everything</h2>
    <div class="email-list">
      {{ range .Emails }}
      <div class="email-list__item">
        <a
          class="email-list__item-link"
          href="/{{ .ThreadId }}/{{ .Filename }}"
        >
          <span class="fiv-sqo fiv-icon-{{ .ContentType | filetype }}"></span>
          &nbsp;
        </a>
        <span>{{ truncate .Subject 50 }}</span><br/><br/>
        <small>{{ .Filename }}</small><br/>
        <small>{{ .Received | prettydate }}</small>
      </div>
      {{ end }}
    </div>
    </section>
  </body>
</html>
