<html>
  <head>
    <title>Attachments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <section>
      <h2>Everything</h2>
      {{ range .GroupedByDate }}
      <h3 id="{{ .Date | hyponate }}"><a href="#{{ .Date | hyponate }}">#</a>&nbsp;{{ .Date }}</h3>
      <div class="email-list">
        {{ range .Emails }}
        <div class="email-list__item">
          <a
            class="email-list__item-link"
            href="/{{ .ThreadId }}/{{ .Filename | escape }}"
            {{ if (isimage .ContentType) }}
            style="background-size: cover; background-image: url(/{{ .ThreadId }}/{{ .Filename | escape }});"
            {{ end }}
            >
            <span class="fiv-sqo fiv-icon-{{ .ContentType | filetype }}"></span>
            &nbsp;
          </a>
          <span>{{ .Subject }}</span><br /><br />
          <small>{{ truncate .Filename 50 }}</small><br/>
          <small>{{ .Size | bytesize }}</small>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </section>
    <footer />
  </body>
</html>
